:root {
    --my-black: #282828;
    --my-blue: #076678;
    --my-light-blue: #458588;
    --my-aqua: #689d6a;
    --my-green: #79740e;
    --my-light-green: #98971a;
    --my-dark-gray: #3c3836;
    --my-light-gray: #7c6f64;
    --my-lighter-gray: #928374;
    --my-white: #fbf1c7;
    --my-light-white: #f9f5d7;
    --my-red: #9d0006;
    --my-magenta: #8f3f71;
    --my-violet: #b16286;
    --my-orange: #af3a03;
    --my-light-orange: #d65d0e;
    --my-yellow: #b57614;
    --my-light-yellow: #d79921;
}

html, body {
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

#root {
    background-color: var(--my-dark-gray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--my-light-yellow);
}

#layer-board, #layer-pieces {
    display: grid;
    grid-template-columns: repeat(8, 6.25vw);
    grid-template-rows: repeat(8, 6.25vw);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color:red;
    border: 4px solid var(--my-lighter-gray);
}

#layer-pieces {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
}
